@import 'normalize.css';
$partH:425px;
$partMW:880px;
$fzc:#2a8ac6;
#partOne {
    background: url(../images/partBg.png);
    .partM {
        padding-left: 515px !important;
        img {
            left: 0 !important;
            width: 377px !important;
            height: 298px !important;
            top: 68px !important;
        }
    }
}

#partTwo {
    .partM {
        img {
            width: 352px !important;
            height: 269px !important;
            top: 80px !important;
        }
    }
}

#partThree {
    background: url(../images/partBg.png);
    .partM {
        padding-left: 515px !important;
        img {
            left: 0 !important;
            width: 318px !important;
            height: 302px !important;
            top: 75px !important;
        }
    }
}

#partFour,
#partThree,
#partTwo,
#partOne {
    width: 100%;
    height: $partH;
    background-color: #fff;
    .partM {
        display: block;
        width: $partMW;
        height: 100%;
        margin: 0 auto;
        position: relative;
        text-decoration: none;
        box-sizing: border-box;
        padding: 1px;
        h2 {
            padding: 0;
            margin: 0;
            font-weight: normal;
            font-size: 28px;
            color: $fzc;
            line-height: 40px;
            margin-top: 100px;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                width: 50px;
                height: 1px;
                background-color: $fzc;
                left: 0;
                bottom: -22px;
                z-index: 2;
            }
        }
        p {
            padding: 0;
            margin: 0;
            width: 340px;
            color: #757575;
            font-size: 14px;
            line-height: 25px;
            margin-top: 45px;
        }
        img {
            width: 335px;
            height: 242px;
            position: absolute;
            right: 0;
            top: 85px;
            z-index: 2;
        }
    }
}

#footer {
    width: 100%;
    height: 300px;
    background-color: #949494;
    .mainPane {
        width: 1350px;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
        color: #ffffff;
        .left,
        .middle {
            float: left;
            width: 450px;
            line-height: 30px;
            margin-top: 45px;
            padding-left: 20px;
            border-left: 1px solid #ffffff;
            box-sizing: border-box;
            h3 {
                font-weight: 500;
                font-size: 24px;
                padding: 0;
                margin: 0 0 20px 0;
            }
            ul {
                padding: 0;
                margin: 0;
                li {
                    list-style: none;
                    line-height: 30px;
                    span {
                        display: inline-block;
                        width: 100px;
                    }
                }
            }
        }
        .middle {
            width: 350px;
            ul {
                li {
                    a {
                        color: #ffffff;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .right {
            float: right;
            width: 500px;
            height: 100%;
            box-sizing: border-box;
            padding-top: 60px;
            .Rtop {
                width: 100%;
                height: 100px;
                overflow: hidden;
                .Ricon {
                    width: 56px;
                    height: 56px;
                    margin-top: 40px;
                    margin-right: 20px;
                }
                .Rma {
                    width: 100px;
                    height: 100px;
                    float: right;
                    margin-left: 20px;
                }
            }
            p {
                padding: 0;
                margin: 0;
                line-height: 85px;
                font-size: 17px;
            }
        }
    }
}